SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6011", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="ttyASCHLP"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6011", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="ttyZIGRAD"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6011", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttySAFETY"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6011", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="ttyNVSBIN"